<!DOCTYPE html>
{% extends "painel.html" %}

{% block content %}
<section class="painel_home">
    <div class="container_painel">
        <h3 class="title">Seja bem-vindo ao EvoluteCode</h3>

        <div class="box_wrapper">
            <h4>Métricas</h4>
            {% if usuarios %}
                <span>Usuários online: {{ quantidade_usuarios }}</span>
            {% else %}
                <span>Nenhum usuário cadastrado ainda.</span>
            {% endif %}

            <div class="actions">
                <a href="{{ url_for('auth.cadastrar_usuario_painel') }}" class="btn btn-primary">
                    <i class="fas fa-user-plus"></i> Cadastrar Usuário
                </a> <br>
                <a href="{{ url_for('auth.listar_usuarios') }}" class="btn btn-secondary">
                    <i class="fas fa-list"></i> Consultar Usuários
                </a>
            </div>
        </div>

        <div class="box_wrapper">
            <h4>Gerenciamento de Projetos</h4>

            {% if projetos %}
                <a><strong>Total de projetos:</strong> {{ projetos|length }}</a>
                <span>Quantidade de projetos: {{ projetos|length }}</span>
            {% else %}
                <span>Nenhum projeto cadastrado ainda.</span>
            {% endif %}

            <div class="actions">
                <a href="{{ url_for('projetos_auth.route_cadastrar_projetos') }}" class="btn btn-primary">                    <i class="fas fa-project-diagram"></i> Cadastrar Projeto
                </a> <br>
                <a href="{{ url_for('projetos_auth.route_listar_projetos') }}" class="btn btn-secondary">
                    <i class="fa-solid fa-paper"></i> Consultar Projetos
                </a>
            </div>
        </div>

        <div class="box_wrapper">
            <h4>Pendências</h4>

            {% if oportunidades %}
                <span>Quantidade de oportunidades: {{ oportunidades | length }}</span>
            {% else %}
                <span>Nenhuma oportunidade cadastrada ainda.</span>
            {% endif %}

            <div class="actions">
                <a href="{{ url_for('crm.route_listar_oportunidades') }}" class="btn btn-primary">
                    <i class="fa-solid fa-list-check"></i> Consultar Pendência
                </a> <br>
            </div>
        </div>
    </div>
</section>
{% endblock %}
