<!DOCTYPE html>
{% extends "painel.html" %}

{% block content %}

<div class="center">
  
    <form method="POST" enctype="multipart/form-data">
        <h2> Cadastrar Projetos</h2>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="imagem">Imagem:</label>
        <input type="file" name="imagem" accept="image/*" >

        <label for="tecnologia" >Tecnologia:</label>
        <input type="text" name="tecnologia" placeholder="Informe as tecnologias">

        <label for="nome_empresa" >Nome da empresa:</label>
        <input type="text" name="nome_empresa" placeholder="Informe o nome da empresa">

        <label for="data" >Selecione Data Inicio:</label>
        <input type="date" name="data_inicio" >

        <label for="data" >Selecione  Data Final:</label>
        <input type="date" name="data_final" >

        <textarea name="descricao"></textarea>
        <input type="submit" value="Cadastrar Projeto" >

        <a href="painel\consultar_projetos">
        Voltar
        </a>
    </form>
    </div>

    {% endblock %}