<!DOCTYPE html>
{% extends "painel.html" %}
{% block content %}
<section class="projetos">
    <div class="center">
        <h2>Todos os Projetos</h2>
        <span>quantidade de projetos:{{projetos|length}}</span>
        {% if projetos %}
            <div class="projeto_wrapper">
                {% for projeto in projetos %}
                    <div class="projeto_item">
                        {% if projeto.imagem_id %}
                            <img src="{{ url_for('projetos_auth.exibir_imagem', imagem_id=projeto.imagem_id) }}"
                                 alt="Imagem do projeto" >
                        {% endif %}
                        
                        <span>{{ projeto.tecnologia }}</span>
                        <h4>{{ projeto.nome_empresa }}</h4>
                        <p>{{ projeto.descricao }}</p>
                        {%if projeto.imagem_id%}
                        <div class="controle">
<a href="{{ url_for('projetos_auth.editar_projetos', projeto_id=projeto._id) }}" class="btn_controle">Editar</a>
                            <a  href="{{ url_for('projetos_auth.deletar_projeto', projeto_id=projeto._id) }}"
   onclick="return confirm('Tem certeza que deseja excluir este projeto?');"class="btn_controle ex">Excluir</a>
                        </div>
                        {% endif %}
                        
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Nenhum projeto encontrado.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
