<!DOCTYPE html>

<section class="projetos">
    <div class="center">
        <h2>Todos os Projetos</h2>
        <div class="projeto_wrapper">
            <div class="projeto_item">
                <img src="/" alt="imagem_do_projeto">
                <span>tecnologias usadas</span>
                <h4>Empresa</h4>
                <p>breve descrição</p>
                <div class ='controle'>
                    <a href="" class="btn_controle">Editar</a>
                    <a href="/deletar" class="btn_controle ex" >Excluir</a>
                </div>
        </div>
    </div>
</section>