<!DOCTYPE html>
{% extends "painel.html" %}

{% block content %}
<section class="projetos  oportunidades_detalhes">
<div class="center">
    <div class="det">
         <h2>Detalhes da Oportunidade</h2>
        <div class="det_desc">
            <p> <strong> Nome:</strong> {{ oportunidade.nome }}</p>
            <p><strong>Email:</strong> {{ oportunidade.email }}</p>
            <p><strong>Telefone:</strong> {{ oportunidade.telefone }}</p>
            <p><strong>Projeto:</strong> {{ oportunidade.projeto }}</p>
            <p><strong>Origem:</strong> {{ oportunidade.origem }}</p>
            <p><strong>Status:</strong> {{ oportunidade.status }}</p>
            <p><strong>Data:</strong> {{ oportunidade.data.strftime('%d/%m/%Y %H:%M') if oportunidade.data }}</p>
        </div>
    </div>
    <h3>Histórico de Follow-ups</h3>
{% if oportunidade.followup %}
    <ul class="follow-up">
        {% for f in oportunidade.followup %}
            <div class="det_desc">
                <li><strong>{{ f.data }}</strong> 
                — <em>{{ f.autor or "Desconhecido" }}</em>: {{ f.descricao }} 
            <a href="{{ url_for('crm.route_detalhes', id=oportunidade._id, editar_followup_id=f._id) }}">Editar</a>
            <a href="{{ url_for('crm.route_detalhes', id=oportunidade._id, excluir_followup_id=f._id) }}"
   onclick="return confirm('Tem certeza que deseja excluir este follow-up?')">Excluir</a>
     </li>
                   </div>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum follow-up registrado.</p>
{% endif %}

<form method="POST">
 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
{% if followup_para_editar %}
        <input type="hidden" name="followup_id" value="{{ followup_para_editar['_id'] }}">
        <textarea name="followup" placeholder="Editar o follow-up..." required>{{ followup_para_editar.descricao }}</textarea>
        <button type="submit">Atualizar Follow-up</button>
    {% else %}
        <textarea name="followup" placeholder="Digite um novo follow-up..." required></textarea>
        <button type="submit">Salvar Follow-up</button>
    {% endif %}
</form>
    

    <a href="{{ url_for('crm.route_listar_oportunidades') }}" class="btn">Voltar</a>
</div>
</section>

{% endblock %}