 <!DOCTYPE html>
{% extends "painel.html" %}

{% block content %}
<section class="painel_home">
    <div class="container_painel">
        <h3 class="title"  >Seja bem vindo ao EvoluteCode</h3>
        <div class="box_wrapper">
            <h4>Métricas</h4>
            <span>Usuario online: {{total}} </span>
            
             <div class="actions">
        <a href="{{ url_for('projetos_auth.cadastrar_usuarios') }}" class="btn btn-primary">Cadastrar Usuario</a> <br>
        <a href="{{ url_for('auth.listar_usuarios') }}" class="btn btn-secondary">Consultar Usuario</a>
    </div>
        </div>
      <div class="box_wrapper">
    <h4>Gerenciamento de Projetos</h4>
    
    {% if projetos %}
        <a><strong>Total de projetos:</strong>{{ projetos|length}}</a>
         <span>quantidade de projetos:{{projetos|length}}</span>
    {% else %}
        <span>Nenhum projeto cadastrado ainda.</span>
    {% endif %}
    
    <div class="actions">
        <a href="{{ url_for('projetos_auth.cadastrar_projetos') }}" class="btn btn-primary">Cadastrar Projeto</a> <br>
        <a href="{{ url_for('projetos_auth.listar_projetos') }}" class="btn btn-secondary">Consultar Projetos</a>
    </div>
</div>
        <div class="box_wrapper">
            <h4>Pendências</h4>
            <span>quantidade Pendente: 2</span>
             <div class="actions">
        <a href="" class="btn btn-primary">Consultar Pendencia</a> <br>
        <a href="{{ url_for('projetos_auth.listar_projetos') }}" class="btn btn-secondary">Mudar status</a>
    </div>
        </div>
   </div>
</section>




{%endblock%}