 <!DOCTYPE html>
{% extends "painel.html" %}

{% block content %}
<section class="painel_home">
    <div class="container_painel">
        <h3 class="title"  >Seja bem vindo ao EvoluteCode</h3>
        <div class="box_wrapper">
            <h4>Métricas</h4>
            <span>Usuario online: </span>
            <a href="">Consultar </a>
        </div>
        <div class="box_wrapper">
            <h4>Projetos</h4>
            {% if projetos %}
              <span>quantidade </span>
            {%endif%}
            <a href="/painel/cadastrar_projetos">Cadastrar</a>
            <a href="/painel/consultar_projetos">Consultar</a>
        </div>
        <div class="box_wrapper">
            <h4>Pendências</h4>
            <span>quantidade Pendente: 2</span>
            <a href="painel/consultar_pendencias">Consultar</a>
        </div>
   </div>
</section>




{%endblock%}