<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}


    <div class="center">
        
    {% with messages = get_flashed_messages() %}
        {%if messages %}
            <ul class ="flashes">
                {%for message in messages%}
                    <li>{{message}}</li>
                {%endfor%}
            </ul>
        {%endif%}
    {%endwith%}
    <form method="POST" action =''>
        <h2>Login</h2>

        <label for="Usuario">Usuario:</label>
        <input type="text" name="usuario" placeholder="Digite seu usuario">
        <label for="Senha" >Senha:</label>
        <input type="password" name="senha" placeholder="Digite sua senha">
        <input type="submit" value="Login" >
    </form>         
    </div>




{% endblock %}