<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}


    <div class="center">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
            <ul class="flashes">
                {%for category, message in messages%}
                    <li class="{{category}}">{{message}}</li>
                {%endfor%}
            </ul>
        {%endif%}
    {%endwith%}
    <form method="POST">
        
        <h2>Login</h2>
        {{csrf_token()}}
        <label for="Usuario">Usuário:</label>
        <input type="text" name="usuario" required placeholder="Digite seu usuario">
        <label for="Senha" >Senha:</label>
        <input type="password" name="senha" required placeholder="Digite sua senha">
        <input type="submit" value="Login" >
        <a href="{{url_for('auth.cadastrar')}}">
          Cadastrar
        </a>
    </form>
    </div>
{% endblock %}