<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvoluteCode - Painel</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/evolute.css')}}">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" >
    <script defer  src="{{url_for('static', filename= 'js/evolute.js')}}"></script>
</head>
<body>
    <header class="header_painel">
        <div class="header-container">
            <div class="logo">
                <img src="{{url_for('static', filename= 'images/evolute.svg')}}" alt="EvoluteCode Logo" >
            </div>
            <a class="menu menu_painel"><i class="fas fa-bars"></i></a>

            <nav id="menu">
                <ul>
                <li><a href="{{url_for('auth.painel_view')}}">Home</a></li>
                <li><a href="{{url_for('auth.login')}}">Sair</a></li>
                </ul>
            </nav>
            <h4>Olá, {{nome}}!</h4>
        </div>
    </header>
    <main class="painel">
        {% block content %}{% endblock %}
    </main>


    
</body>
</html>